**/bin/
**/obj/
src/**/bin/
src/**/obj/
tests/**/bin/
tests/**/obj/
**/.vs/
**/.vscode/
**/.vs/
**/node_modules/
**/dist/
**/.git/
.tmp-build/
.tempbuild/
**/.tmp-build/**
**/.tempbuild/**
tests/**/TestResults/
**/.tmp-reviews/
*.out.log
logs/
*.log
